<app-banner-generic [titulo]='titulo'></app-banner-generic>
<div class="container">
    <div class="row container-info">
        <div class="col-12 info">
            <h5>La Empresa</h5>
            <img src="../../assets/nosotros/Nosotros.jpg">
            <p>Estructuras y Materiales S.A (EYMSA), fundada en el año 2013, es una empresa ligada al sector de
                cerramientos metálicos y especializada en Servicio de Cortado, Doblado y Armado.</p><br>
            <p>Somos fabricantes: Pilotes, Mallas, Especiales, Columnas, Dinteles,Viguetas Estructuradas Reticuladas,
                Pasadores y Clavos, Barra de Unión, Portones Industriales. Realizamos Trabajos de Herrería en General.
            </p><br>
            <p>Nuestra amplia experiencia en el sector, junto con la tecnología más moderna usada en los diferentes
                procesos de fabricación nos convierten en una empresa líder y de referencia dentro del sector.</p><br>
            <p>Todo ello, junto a un equipo humano altamente cualificado, nos permite comercializar nuestros productos
                en toda Argentina.</p><br>
            <img src="../../assets/nosotros/Fondoen-Construccion1.jpg"  height="480" width="768">
        </div>
    </div>
</div>