.container-info{
    padding-left: 10%;
    padding-right: 10%;
}

.info h5{
    text-align: center
}

.info img{
    height: auto;
    max-width: 100%;
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.info{
    margin-bottom: 40px;
    margin-top:40px;
    padding: 20px;
    border: 1px solid #ddd;
}