<app-banner-generic [titulo]='titulo'></app-banner-generic>

<div class="container">
    <div class="row container-info">
        <div class="col-12 info">
            <form>

                <div>
                    <h5>Haznos llegar tu consulta</h5>
                </div>

                <div class="form-group">
                    <label for="exampleFormControlInput1">Empresa</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1">
                </div>

                <div class="form-group">
                    <label for="exampleFormControlInput1">Nombre y Apellido</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1">
                </div>

                <div class="form-group">
                    <label for="exampleFormControlInput1">Correo Electrónico</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1">
                </div>

                <div class="form-group">
                    <label for="exampleFormControlInput1">Número Telefónico</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1">
                </div>

                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Detalle de la Consulta</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>

                <div>
                    <button type="button" class="btn btn-warning">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>