<div class="row center margin">
  <div class="col titulo">
    <h1>Nuestros Servicios</h1>
  </div>
</div>
<div class="row center">
  <div class="col seperator">
    <span>
      <i class="fas fa-cog"></i>
    </span>
  </div>
</div>
<div class="row center sub-titulo">
  <div class="col">
    <p>Conozca en detalle cada uno de nuestros servicios.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body center">
        <div class="circulo-contain">
          <div class="circulo centrar-vertical">
            <i class="fa fa-truck icono"></i>
          </div>
        </div>

        <h5 class="card-title">Transporte a todo el país</h5>
        <p class="card-text">Transporte Despachamos a toda Argentina. Gran Buenos Aires y caba el traslado es sin costo.
        </p>
        <a href="#" class="card-link">Leer más</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body center">
        <div class="circulo-contain">
          <div class="circulo centrar-vertical">
            <i class="fas fa-cog icono"></i>
          </div>
        </div>
        <h5 class="card-title">Horario de Atención</h5>
        <p class="card-text">Desde 6:00 am. a 22:oo pm.<br>Trabajamos contra y para el tiempo estipulado, de la mano
          de...</p>
        <a href="#" class="card-link">Leer más</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body center">
        <div class="circulo-contain">
          <div class="circulo centrar-vertical">
              <i class="fa fa-flag icono"></i>
          </div>
        </div>
        <h5 class="card-title">Mercado</h5>
        <p class="card-text">Mercado Interno Los productos son comercializados en todo el país, a través de una red de
          distribuidores ubicados estratégicamente en...</p>
        <a href="#" class="card-link">Leer más</a>
      </div>
    </div>
  </div>
</div>