<div class="row center margin">
  <div class="col titulo">
    <h1>Nuestros Servicios</h1>
  </div>
</div>
<div class="row center">
  <div class="col seperator">
    <span>
      <i class="fas fa-cog"></i>
    </span>
  </div>
</div>
<div class="row center sub-titulo">
  <div class="col">
    <p>Conozca en detalle cada uno de nuestros servicios.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-4 espacio">
    <div class="tarjeta">
      <div class="card-body center">
        <div class="circulo-contain">
          <div class="circulo centrar-vertical">
            <i class="fa fa-truck icono"></i>
          </div>
        </div>

        <h5 class="card-title">Transporte a todo el país</h5>
        <p class="card-text">Transporte Despachamos a toda Argentina. Gran Buenos Aires y caba el traslado es sin costo.
        </p>
        <p class="card-link link" data-toggle="modal" data-target="#envio">Leer más</p>
      </div>
    </div>
  </div>
  <!-- Modal -->
<div class="modal fade" id="envio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Transporte a todo el pais</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Transporte Despachamos a toda Argentina. Gran Buenos Aires y caba el traslado es sin costo.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn botones-color" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
  <div class="col-md-4 espacio">
    <div class="tarjeta">
      <div class="card-body center">
        <div class="circulo-contain">
          <div class="circulo centrar-vertical">
            <i class="fas fa-cog icono"></i>
          </div>
        </div>
        <h5 class="card-title">Horario de Atención</h5>
        <p class="card-text">Desde 6:00 am. a 22:oo pm.<br>Trabajamos contra y para el tiempo estipulado, de la mano
          de...</p>
        <p  class="card-link link" data-toggle="modal" data-target="#horario">Leer más</p>
      </div>
    </div>
  </div>
   <!-- Modal -->
<div class="modal fade" id="horario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Horario de Atencion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Desde 6:00 am.  a 22:oo pm.</p>

        <p>Trabajamos contra y para el tiempo estipulado, de la mano de un equipo profesional y productos con sello de calidad.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn botones-color" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
  <div class="col-md-4 espacio">
    <div class="tarjeta">
      <div class="card-body center">
        <div class="circulo-contain">
          <div class="circulo centrar-vertical">
              <i class="fa fa-flag icono"></i>
          </div>
        </div>
        <h5 class="card-title">Mercado</h5>
        <p class="card-text">Mercado Interno Los productos son comercializados en todo el país, a través de una red de
          distribuidores ubicados estratégicamente en...</p>
        <p class="card-link link" data-toggle="modal" data-target="#mercado">Leer más</p>
      </div>
    </div>
  </div>
</div>
 <!-- Modal -->
 <div class="modal fade" id="mercado" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Mercado Interno</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Los productos son comercializados en todo el país, a través de una red de distribuidores ubicados estratégicamente en los principales puntos de cada provincia.</p>

        <p>Esta red de distribuidores se encarga de atender las necesidades de todo aquel referente de la construcción (arquitectos, ingenieros, proyectistas, calculistas, etc.).</p>
          
        <p>Asiste también a las principales constructoras que operan en nuestro país, brindando servicios como cortado y doblado, mallas soldadas standard y de medidas especiales y aceros con características de soldabilidad que faciliten la tarea. Provee además completas soluciones para el mercado del agro y la industria, con productos especialmente dirigidos a estos mercados.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn botones-color" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>