.margin{
    margin-top:45px;
}
.titulo{
    margin-bottom: 10px; 
}

.sub-titulo{
    margin-bottom: 40px;
    margin-top:10px;
}

.sub-titulo p{
    color:rgb(156, 155, 155);
}

.botones-color{
    background: #fab702;
    border-color: #fab702;
    color: #fff;
  }

.link{
    color:#fab702;
}
.icono{
    font-size: 27px;
    line-height: 68px;
    text-align: center;
}
.seperator span{
    display: inline-block;
    position: relative;
}
.seperator span:after,
.seperator span:before{
    background-color: black;
    content: "";
    height: 1px;
    top: 50%;
    width: 60px;
    position:absolute;
}

.seperator span:before{
    right: 100%;
}

.seperator span:after {
    left: 100%;
}
.circulo-contain{
    width: 78px;
    height: 78px;
    margin-right: auto;
    margin-left: auto;
}
.circulo{
    border-color: #fab702; 
	transform: none;
    border-radius: 50%;
    border: 1px solid #fab702;
    text-align: center;
    width: 68px;
    height: 68px;
    display: flex;
   justify-content: center;
   align-items: center;
}

centrar-vertical{   
    display: flex;
   justify-content: center;
   align-items: center;
}
.espacio{
    margin-top:20px;
}
.tarjeta{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: .25rem;
}

.tarjeta:hover{
    box-shadow: 5px 10px 25px rgba(0,0,0,0.2);
}
.tarjeta:hover .circulo{
    background: #053a9c;
}
.tarjeta:hover .icono{
    color:white;
}

.tarjeta:hover,.tarjeta:hover .circulo,.tarjeta:hover .icono{
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

