<app-banner-generic [titulo]="titulo"></app-banner-generic>

<div class="container">
  <div class="row container-info">
    <div class="col-12 info">
      <p>EYMSA. Empresa dedicada a la fabricación de productos de acero, se declara comprometida con la mejora continua del Sistema de Calidad y establece como prioridad suministrar sus productos según los requisitos y necesidades de sus clientes y en concordancia con las normas vigentes aplicables.</p><br>
      <p>En el marco de esta política es una obligación permanente asegurar la calidad de nuestros productos, el cumplimiento de los compromisos adquiridos con el cliente, su satisfacción y la superación de sus expectativas, hechos que contribuyen a mantener y mejorar la posición de nuestra empresa en el mercado.</p><br>
      <p>Acorde con nuestra Política de la Calidad se establecen los siguientes objetivos:</p><br>
      <ul>
        <li>Buscar eficiencia y confiabilidad en las operaciones, de acuerdo a estándares de clase mundial, a fin de suministrar productos que satisfagan las necesidades del mercado de acuerdo a las normas vigentes aplicables.</li>
        <li>Evaluar las necesidades y nivel de satisfacción de nuestros clientes.</li>
        <li>Ser reconocida como una empresa que atrae y retiene talentos para la generación de valor y construcción de una sociedad justa e inclusiva.</li>
        <li>Establecer indicadores para evaluar la eficacia de nuestros procesos.</li>
        <li>Mejorar continuamente el desempeño del Sistema de gestión de la Calidad y sus procesos.</li>
        <li>Prevenir las causas que originan incumplimiento de los requisitos especificados.</li>
        <li>Evaluar y seleccionar a nuestros proveedores en función de su capacidad para cumplir con las especificaciones establecidas, de manera que las materias primas suministradas contribuyan al aseguramiento de la calidad del producto final.</li>
        <li>Alentar el trabajo en equipo en pos de la mejora continua.</li>
      </ul>
    </div>
  </div>
</div>