<nav class="navbar navbar-expand-lg navbar-light bg-light menu">
  <a class="navbar-brand" href="#">
    <img src="../../assets/img/cropped-LodoEncabezado.fw_.png" >
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

      
  <div class="collapse navbar-collapse modificacion" id="navbarSupportedContent">
        <a class="nav-link link" [routerLink]="['/home']" routerLinkActive="router-link-active"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Inicio
        </a>
        <a class="nav-link link" [routerLink]="['/nosotros']" routerLinkActive="active-link" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Nosotros
        </a>
        <a class="nav-link link " [routerLink]="['/productos']" routerLinkActive="active-link" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Productos
        </a>
        <a class="nav-link link" [routerLink]="['/calidad-garantia']" routerLinkActive="active-link" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Calidad y Garantia
        </a>
        <a class="nav-link link" [routerLink]="['/tecnologia']" routerLinkActive="active-link" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tecnologia
        </a>        
        <a class="nav-link link" [routerLink]="['/contactenos']" routerLinkActive="active-link" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Contactenos
        </a>
      
  </div>
</nav>