<div class="row center botones-row">
  <div class="col-12">
      <button type="button" (click)="all()" class="btn botones" [ngClass]="{'active':todos,'botones-color':!todos}">All</button>
    
      <button type="button" (click)= "filtro( 'corte,doblado y armado' )" class="btn botones" [ngClass]="{'active':cortes,'botones-color':!cortes}" >Cortes, Doblado y Armado</button>
    
      <button type="button" (click)=" filtro('otros')" class="btn botones" [ngClass]="{'active':otros,'botones-color':!otros}" >Otros Productos</button>

  </div>
</div>
<div class="row" *ngFor="let productos of productosDeA3">
  <div class="col-md-4 seccion-productos" *ngFor="let producto of productos">

    <div class="ih-item circle effect19"><a [routerLink]="['/producto', producto.id]">
        <div class="img"><img src="{{ '../assets/productos/' + producto.img }}" alt="img"></div>
        <div class="info">
          <h3>{{ producto.nombre }}</h3>
        </div>
      </a></div>

  </div>

</div>