<div class="row contenedor-principal">
  <div class="col-md nosotros">
      <h2 class="titulo-nosotros">Nosotros</h2>
      <p>Especialistas en Servicio de Cortado, Doblado y Armado.</p>
      <p>Somos Fabricantes. <br> Pilotes. Mallas Especiales. Columnas. Dinteles. Viguetas Estructuradas Reticuladas.
        <br> Pasadores y Clavos. Barra de Unión. Portones Industriales.</p>
      <p>Realizamos Trabajos de Herrería en General.</p>

      <div class="iconos">
        <i id="facebook" class="fab fa-facebook-f"></i>
        <i id="twitter" class="fab fa-twitter"></i>
        <i id="instagram" class="fab fa-instagram"></i>
      </div>
  </div>

    <div class="col-md proyectos">
      <h2 class="titulo-proyectos">Proyectos Recientes</h2>
      <div class="contenedor-imagenes">
        <img src="../../assets/foot/metales.jpg" alt="">
        <img src="../../assets/foot/metales.jpg" alt="">
        <img src="../../assets/foot/metales.jpg" alt="">
        <img src="../../assets/foot/metales.jpg" alt="">
        <img src="../../assets/foot/metales.jpg" alt="">
        <img src="../../assets/foot/metales.jpg" alt="">
      </div>
  </div>

  <div class="col-md galeria">
    <h2 class="titulo-galeria">Galería de Productos Principales</h2>
    <div class="contenedor-imagenes">
      <img src="../../assets/foot/metales.jpg" alt="">
      <img src="../../assets/foot/metales.jpg" alt="">
      <img src="../../assets/foot/metales.jpg" alt="">
      <img src="../../assets/foot/metales.jpg" alt="">
      <img src="../../assets/foot/metales.jpg" alt="">
      <img src="../../assets/foot/metales.jpg" alt="">
    </div>
  </div>

</div>


<div class="footer">
  <p><i class="far fa-copyright"></i> {{ anio }} EYMSA - Todos los Derechos Reservados</p>
</div>