<div class="container-fluid">
  <div class="row contenedor-principal">
    <div class="col-md-4 nosotros">
      <div class="texto">
        <h2 class="titulo-nosotros">Nosotros</h2>

        <p>Especialistas en Servicio de Cortado, Doblado y Armado.</p>
        <p>Somos Fabricantes. <br> Pilotes. Mallas Especiales. Columnas. Dinteles. Viguetas Estructuradas Reticuladas.
          <br> Pasadores y Clavos. Barra de Unión. Portones Industriales.</p>
        <p>Realizamos Trabajos de Herrería en General.</p>
        <div>
          <a href="#"><i id="facebook" class="fab fa-facebook-f"></i></a>
          <a href="#"><i id="twitter" class="fab fa-twitter"></i></a>
          <a href="#"><i id="instagram" class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>

    <div class="col-md-4 proyectos">
      <div class="texto">
        <h2 class="titulo-proyectos">Proyectos Recientes</h2>
        <div class="contenedor-imagenes">
          <img src="../../assets/footer/proyectos-recientes/1.jpg" alt="">
          <img src="../../assets/footer/proyectos-recientes/2.jpg" alt="">
          <img src="../../assets/footer/proyectos-recientes/3.jpg" alt="">
          <img src="../../assets/footer/proyectos-recientes/4.jpg" alt="">
          <img src="../../assets/footer/proyectos-recientes/5.jpg" alt="">
          <img src="../../assets/footer/proyectos-recientes/6.jpg" alt="">
        </div>
      </div>
    </div>

    <div class="col-md-4 galeria">
      <div class="texto">
        <h2 class="titulo-galeria">Galería de Productos Principales</h2>
        <div class="contenedor-imagenes">
          <a data-toggle="modal" data-target="#foto1"><img src="../../assets/footer/productos-principales/1.jpg"
              alt=""></a>
          <img src="../../assets/footer/productos-principales/2.jpg" alt="">
          <img src="../../assets/footer/productos-principales/3.jpg" alt="">
          <img src="../../assets/footer/productos-principales/4.jpg" alt="">
          <img src="../../assets/footer/productos-principales/5.jpg" alt="">
          <img src="../../assets/footer/productos-principales/6.jpg" alt="">
    
        </div>
      </div>
    </div>
  </div>

  

  <div class="footer">
    <p><i class="far fa-copyright"></i> {{ anio }} EYMSA - Todos los Derechos Reservados</p>
  </div>