<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active indicador"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1" class="indicador"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2" class="indicador"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3" class="indicador"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active backgraund">
      <img class="d-block w-100" src="../../assets/img/1.jpg" alt="First slide">
      <div class="carousel-caption d-none d-md-block leyenda">
        <h3>Especialistas en Cortado-Doblado-Armado</h3>
      </div>
    </div>
    <div class="carousel-item backgraund">
      <img class="d-block w-100" src="../../assets/img/2.jpg" alt="Second slide">
      <div class="carousel-caption d-none d-md-block leyenda">
        <h3>Entrega Inmediata en toda Argentina</h3>
      </div>
    </div>
    <div class="carousel-item backgraund">
      <img class="d-block w-100" src="../../assets/img/3.jpg" alt="Third slide">
      <div class="carousel-caption d-none d-md-block leyenda">
        <h3>Producto con Calidad de Exportación</h3>
      </div>
    </div>
    <div class="carousel-item backgraund">
      <img class="d-block w-100" src="../../assets/img/4.jpg" alt="Third slide">
      <div class="carousel-caption d-none d-md-block leyenda">
        <h3>Productos para grandes proyectos</h3>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>