<app-banner-generic [titulo]='titulo'></app-banner-generic>

<div class="container">
        <div class="row container-info">
          <div class="col-12 info">
            <p>Nuestras líneas de electrosoldadura de última tecnología totalmente automatizadas, garantizan una gran capacidad productiva, facilitando unas entregas muy rápidas y con una excelente calidad del producto.</p><br>
            <p>Todo el proceso productivo, desde la primera hasta la última operación, está informatizado y automatizado sin dejar ningún margen de error y minimizando al máximo los posibles fallos que pudieran producirse.</p><br>
            <p>La constante inversión en la automatización y modernización de la maquinaria, así como una sólida y continuada formación a los trabajadores,nos permite adaptarnos rápidamente a los diferentes modelos de malla electrosoldada existentes en los países en los que actualmente estamos presentes.</p><br>
            <p>Asimismo, gracias al afán por mejorar, EYMSA sigue invirtiendo continuamente en nuevas tecnologías y en I+D con el fin de agilizar y mejorar el sistema productivo y de ampliar nuestro catálogo con nuevos productos.</p>
          </div>
        </div>
      </div>