/* You can add global styles to this file, and also import other style files */
.center{
    text-align: center;
}

.titulo-innerhtml{
    text-align: center;
    padding: 15px;
    font-size: 30px;
}

.insert table{
    padding-bottom: 15px;
}

.sub{
    text-align: center;
    padding: 10px;
    font-size: 15px;
}